/* Style for VBox */
.vbox {
    -fx-spacing: 20; /* Spacing between child nodes */
    -fx-alignment: center; /* Alignment of child nodes within the VBox */
}

/* Style for TextField */
.text-field {
    -fx-background-color: #f8f9fa; /* Background color */
    -fx-background-radius: 5; /* Rounded corners */
    -fx-border-color: #ced4da; /* Border color */
    -fx-border-radius: 5; /* Border radius */
    -fx-border-width: 1; /* Border width */
    -fx-padding: 8; /* Padding inside the text field */
    -fx-font-size: 14px; /* Font size */
    -fx-pref-width: 250; /* Preferred width */
    -fx-text-fill: #495057; /* Text color */
}
.tooltip {
    -fx-background-color: #343a40; /* Background color */
    -fx-text-fill: white; /* Text color */
    -fx-font-size: 12px; /* Font size */
    -fx-padding: 4px 8px; /* Padding */
    -fx-background-radius: 5; /* Rounded corners */
    -fx-border-color: #495057; /* Border color */
    -fx-border-width: 1; /* Border width */
}
/* Style for Button */
.button {
    -fx-background-color: #007bff; /* Background color */
    -fx-text-fill: white; /* Text color */
    -fx-font-size: 14px; /* Font size */
    -fx-padding: 10 20; /* Padding */
    -fx-pref-width: 120; /* Preferred width */
    -fx-cursor: hand; /* Cursor on hover */
    -fx-background-radius: 5; /* Rounded corners */
}

/* Hover effect for Button */
.button:hover {
    -fx-background-color: #0056b3; /* Background color on hover */
}


/* Style for Text */
.text {
    -fx-font-size: 16px; /* Font size */
    -fx-text-fill: #343a40; /* Text color */
    -fx-font-weight: bold; /* Bold text */
    -fx-padding: 5; /* Padding */
}
/* Style for Title */
.title-text {
    -fx-font-size: 24px; /* Font size */
    -fx-text-fill: #212529; /* Text color */
    -fx-font-weight: bold; /* Bold text */
}

/* Style for Subtitle */
.subtitle-text {
    -fx-font-size: 18px; /* Font size */
    -fx-text-fill: #6c757d; /* Text color */
    -fx-font-weight: bold; /* Bold text */
}